<ion-pane>
  <ion-header-bar class="bar-assertive" align-title="center">
    <h1 class="title">Fuck it... I Don't wanna work</h1>
  </ion-header-bar>
  <ion-content class="excuse-center-content padding" scroll="false">
    <img src="img/fuckWork.jpg" alt="" class="logo" />
    <p class="excuse padding-bottom" ng-class="{'show': gotAnExcuse}">{{ excuse }}</p>

    <button class="button button-dark" ng-click="generateExcuse();">Give me an excuse</button>

  </ion-content>
</ion-pane>
