.excuse-center-content {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.logo {
  height: 300px;
  width: 300px;
  margin-top: -50px;
  margin-bottom: 20px;
}

.excuse {
  text-align: center;
  font-size: 24px;
  transition: opacity 1s linear;
  opacity: 0;
  line-height: 1.15em;
}

.excuse.show {
  opacity: 1;
}
